{{#unless emailDetailsEnabled}}
  <div class="item-desc">
    <span>{{item.sender}}</span>
    <span>
      {{item.subject}}
    </span>
  </div>
{{else}}
  {{#link-to "email-details" item.id}}
    <div class="item-desc">
      <span>{{item.sender}}</span>
      <span>
        {{item.subject}}
      </span>
    </div>
  {{/link-to}}
{{/unless}}